@font-face {
  font-family: 'Open_Sans_Condensed';
  src: url("/dev-ops-school/static/fonts/google/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto_Sans_JP';
  src: url("/dev-ops-school/static/fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueAlteGrotesk-Light';
  src: url("/dev-ops-school/static/fonts/google/NeueAlteGrotesk-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}